<clr-main-container>
    <clr-header>
      <div class="branding">
        <a href="javascript://" class="nav-link nav-icon">
          <clr-icon shape="tools"></clr-icon>
          <span class="title">Escoba</span>
        </a>
      </div>
      <div class="header-nav" [clr-nav-level]="1">
        <div class="btn-group nav-text">
          <!-- header nav items go here -->
        </div>
      </div>
    </clr-header>
    <div class="content-container">
      <main class="content-area">
        <div class="clr-row">
            <div class="clr-col-4">
                This is some text to see how wide this thing gets.  It's hard to tell how wide something will be or if it renders like you expect it to sometimes.
                <!-- this will be ngFor (account of accounts) -->
                <ul>
                    <esb-account *ngFor="let #account of db.accounts"></esb-account>
                </ul>
            </div>
            <div class="clr-col-8">
                    This is some text to see how wide this thing gets.  It's hard to tell how wide something will be or if it renders like you expect it to sometimes.
                <!-- this will be ngFor (event of events) -->
                <ul>
                    <esb-event *ngFor="let #event of db.events"></esb-event>
                </ul>
            </div>
        </div>
        <div class="clr-row">
            <div class="clr-col-4">

            </div>
        </div>
      </main>
    </div>
  </clr-main-container>