<clr-main-container>
    <clr-header>
      <div class="branding">
        <a href="javascript://" class="nav-link nav-icon">
          <clr-icon shape="tools"></clr-icon>
          <span class="title">Escoba</span>
        </a>
      </div>
      <div class="header-nav" [clr-nav-level]="1">
        <div class="btn-group nav-text">
          <!-- header nav items go here -->
        </div>
      </div>
    </clr-header>
    <div class="content-container">
      <main class="content-area">
        <div class="row">
            <div class="col-md-4">
                <!-- this will be ngFor (account of accounts) -->
            </div>
            <div class="com-md-8">
                <!-- this will be ngFor (event of events) -->
            </div>
        </div>
      </main>
    </div>
  </clr-main-container>