<clr-main-container>
    <clr-header>
      <div class="branding">
        <a href="javascript://" class="nav-link nav-icon">
          <clr-icon shape="tools"></clr-icon>
          <span class="title">Escoba</span>
        </a>
      </div>
      <div class="header-nav" [clr-nav-level]="1">
        <div class="btn-group nav-text">
          <!-- header nav items go here -->
        </div>
      </div>
    </clr-header>
    <div class="content-container">
      <main class="content-area">
        <div class="clr-row">
            <div class="clr-col-4">
                <div class="">
                    This is some text to see how wide this thing gets.  It's hard to tell how wide something will be or if it renders like you expect it to sometimes.
                    <!-- this will be ngFor (account of accounts) -->
                    <ul>
                        <esb-account *ngFor="let account of db.accounts" [account]="account" id="{{account.key}}"></esb-account>
                    </ul>
                </div>

            </div>
            <div class="clr-col-8">
                    This is some text to see how wide this thing gets.  It's hard to tell how wide something will be or if it renders like you expect it to sometimes.
                <!-- this will be ngFor (event of events)
                <ul>
                    <esb-event *ngFor="let event of db.events" [event]="event" id="{{event.key}}"></esb-event>
                </ul>
                -->
            </div>
        </div>
        <div class="clr-row">
            <div class="clr-col-4">
                <div class="bottomForm">
                    <form clrForm [formGroup]="accountForm" (ngSubmit)="onSubmit()">
                        <clr-input-container>
                            <label for="name">Name</label>
                            <input clrInput type="text" formControlName="name" id="name" name="name">
                            <clr-control-helper>The name of the account</clr-control-helper>
                            <clr-control-error></clr-control-error>
                        </clr-input-container>
                        <clr-input-container>
                            <label for="balance">Balance</label>
                            <input clrInput type="text" formControlName="balance" id="balance" name="balance">
                            <clr-control-helper>The account balance</clr-control-helper>
                            <clr-control-error></clr-control-error>
                        </clr-input-container>
                        <clr-input-container>
                            <label for="icon">Icon</label>
                            <input clrInput type="text" formControlName="icon" id="icon" name="icon">
                            <clr-control-helper>URL to an icon to use for this account</clr-control-helper>
                            <clr-control-error></clr-control-error>
                        </clr-input-container>
                        <clr-input-container>
                            <label for="siteUrl">Site URL</label>
                            <input clrInput type="text" formControlName="siteUrl" id="siteUrl" name="siteUrl">
                            <clr-control-helper>URL to the website for the account</clr-control-helper>
                            <clr-control-error></clr-control-error>
                        </clr-input-container>
                        <clr-input-container>
                            <label for="color">Color</label>
                            <input clrInput type="text" formControlName="color" id="color" name="color">
                            <clr-control-helper>HEX value for the background color of the control</clr-control-helper>
                            <clr-control-error></clr-control-error>
                        </clr-input-container>
                        <br />
                        <button type="submit" [disabled]="accountForm.pristine">Save</button>
                        <button type="reset" (click)="revert()">Reset</button>

                    </form>
                </div>
            </div>
        </div>
      </main>
    </div>
  </clr-main-container>