  <div class="card" (click)="accountClicked()">
    <div class="card-header">
      <div class="clr-row">
        <div class="clr-col-12">
          {{account.name}}
          <span style="display:block; float: right;">
            <a (click)="deleteAccount()"><clr-icon _ngcontent-c2="" aria-hidden="true" shape="close"></clr-icon></a>
          </span>
        </div>
      </div>
    </div>
    <div class="card-block">
      <div class="card-media-block wrap">
        <div class="clr-row">
          <div class="clr-col-4">
            <img [src]="account.icon" class="card-media-image">
          </div>
          <div class="clr-col-8">
            <div class="clr-row">
              <div class="textholder" [hidden]="!editable" (click)="toggleEdit(); setEditFocus()">
                Bal: {{account.balance | currency:'USD'}}
              </div>
              <div class="inputholder" [hidden]="editable">
                <input type="text" #balEdit [(value)]="account.balance"
                (focusout)="toggleEdit()">

              </div>
            </div>
          </div>
        <!-- <div class="card-media-description">
          <span class="card-media-title">
            {{account.balance}}
          </span>
          <span class="card-media-text">
            account text placeholder
          </span>
        </div> -->
      </div>
      <!-- <div class="card-text">
        ...
      </div> -->
    </div>
    <div class="card-footer">
      <a href="//{{account.siteUrl}}">
        <button class="btn btn-sm btn-link">{{account.siteUrl}}</button>
      </a>
    </div>
  </div>