.acct-container {
    max-width: 400px;
    max-height: 200px;
}
.acct-icon-holder {
    border-radius: 50%;
}
.acct-title {
    font-size: 10pt;
}
.acct-balance {
    font-size: 6pt;
}
.acct-site {
    font-size: 6pt;
}